#spelers {
    width: 400px;
    height: 600px;
    overflow-y: auto;
    float: left;
}

figure {
    margin: 0;
    margin-right: 10px;
    border-style: solid;
    border-color: black;
    float: left;
}

#veld {
    float: left;
    background-image: url("afbeeldingen/veld.jpg");
    width: 1000px;
    height: 1000px;

}

#veld div {
    width: 150px;
    height: 150px;
    border-style: dashed;
    border-color: white;
    border-width: 1.5px;
    float: left;
    border-radius: 70px;
}

#keeper {
    position: absolute;
    top: 850px;
    right: 600px;
}