body {
    background-image: url("RAW/38252462956_70dfbaa55f_o.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body, html{
    font-family: Verdana;
    width: 100%;
    height: 100%;
}

#logo {
    width: 250px;
    height: 100px;
    margin:0px;
    margin-left: 40%;
    float: left;
    border-style: none;
}

div {
    width:80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10%;
    border-color: lightgray;
    /*background-image: url(RAW/images.jpg);*/
}

#head {
    max-width: 800px;
    border-color: black;
    margin-bottom: 30px;
    float: left;
    clear: both;
}

h1 {
    margin: 5px;
}

label, input, select {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

label, #toevoegButton {
    clear: left;
    margin-left: 10px;
}

input {
    margin-top: 5px;
    padding: 5px;
}

select {
    margin-top: 10px;
    width: 150px;
}

#toevoegButton {
    margin-bottom: 10px;
}

label {
    margin-right: 5px;
    font-size: 18pt;
    font-style: italic;
}

.clear:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#land {
    float: left;
    margin: 0px;
    margin-right: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    height: 200px;
}

#landen {
    border: none;
    float: left;
}

img {
    width: 100px;
    height: 60px;
    float: left;
    margin: 5px;
    border-style: solid;
    border-color: lightgray;
}

p {
    float: left;
    font-size: 18pt;
    font-weight: bold;
    margin-left: 10px;
}

#beschrijvingOutput {
    clear: left;
    width: 100%;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
}

#toevoegButton {
    font-family: Verdana;
    background-color: darkred;
    color: white;
    font-size: 14pt;
}