html, body { height: 100%;
width: 100%;}
#googleMaps{
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
}

.marker{
    display: none;
}

#dialog{
    height: 200px;
    width: 300px;

}

#dialog #image{
    float: left;
    height: 130px;
    width: 130px;
    margin-right: 10px;
}

#dialog H1{
    font-size: 13pt;
    font-weight: bold;
}